@utility table {
    @apply w-full text-left;

    th,
    td {
        @apply border-b;
    }

    th:first-child,
    td:first-child {
        @apply pl-0;
    }

    th:last-child,
    td:last-child {
        @apply pr-0;
    }

    th {
        @apply border-b-2 border-brand-950 p-3 font-bold;
    }

    td {
        @apply border-brand-950/15 p-3;
    }
}

@utility table-wrap {
    @apply w-full overflow-auto;

    table {
        @apply min-w-[500px];
    }
}
