@theme {
    --default-transition-duration: 0.2s;

    --font-text: "Arial", sans-serif;
    --font-heading: "Arial", sans-serif;
    --font-serif: "Georgia", sans-serif;

    --breakpoint-xs: 321px;
    --breakpoint-sm: 451px;
    --breakpoint-md: 671px;
    --breakpoint-lg: 769px;
    --breakpoint-xl: 1025px;
    --breakpoint-2xl: 1281px;
    --breakpoint-3xl: 1441px;
    --breakpoint-4xl: 1901px;

    --color-ui-1-1: #257c53;
}
